<div id="header-wrapper">
	<%= image_tag 'cube_awesome.jpg' %>
	<div style="float: right">
		<p>"Interactive Where you get to figure out with a commnity, the types of your favorite fictional characters</p>
	</div>
</div>